<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title>I'm Up Next On Soundcloud Don't Sleep</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>

	<body onload="go()">

		<center>
		
			<div id="gauge" style="width: 250px; height: 250px"></div>
			<div id="curve_chart" style="width: 600px; height: 600px"></div>
			<div id ="curve_chart_humid" style="width: 600px; height: 600px"></div>
			<div id ="curve_chart_pressure" style="width: 600px; height: 600px"></div>

			<button onClick="button()" style="width:90px; height:60px;"  >Click to download Beat </button>
		</center>

		<script type='text/javascript'>
			

			//Load the charts libraries
			google.charts.load('current', {packages:['gauge']});
			google.charts.load('current', {packages:['scatter']});
			google.charts.load('current', { packages: ['corechart'] });
			//create empty array as a global

			var chartData = [];
			var humidityData = [];
			var pressureData = [];

			//This function is called when the page loads
			function go(){
				goTime = new Date();
				console.log('It\'s Go Time! '+goTime);
				getData();
				getHumidData();
				getPressureData();
				setInterval(function() {
					xTime = new Date();
					console.clear();
					console.log('Update Initiated: '+xTime);
					getData();
				}, 60000);
			}
			//grabs the data from the sqlData app.route and pushes it into an array
			function getData(){
				//Clear the array first
				chartData = []; //Temperature
				$.getJSON('/sqlData', function(chartJSON) {
					console.log(chartJSON);
					for (i = 0; i < chartJSON.length; i++){
						chartData.push([new Date(chartJSON[i].Date), chartJSON[i].Temperature]);

					};
					drawGauge();
					drawChart();
				});
			}

			//grabs the data from the sqlData app.route and pushes it into an array
                        function getHumidData(){
                                //Clear the array first
                                humidityData =[];
                                $.getJSON('/sqlHumidData', function(chartJSON) {
                                        console.log(chartJSON);
                                        for (i = 0; i < chartJSON.length; i++){
                                                humidityData.push([new Date(chartJSON[i].Date),chartJSON[i].Humidity]);
                                        };
                                        drawHumidityChart();
                                });
                        }

			//grabs the data from the sqlData app.route and pushes it into an array
                        function getPressureData(){
                                //Clear the array first
                                pressureData= [];
                                $.getJSON('/sqlPressureData', function(chartJSON) {
                                        console.log(chartJSON);
                                        for (i = 0; i < chartJSON.length; i++){
                                                pressureData.push([new Date(chartJSON[i].Date),chartJSON[i].Pressure]);
                                        };
                                        drawPressureChart();
                                });
                        }

			//Draws the gauge
			function drawGauge() {
				var g2data = new google.visualization.arrayToDataTable([
					[ {label: 'Temperature', id:'temp', type: 'number'} ]
				]);
				lastRow = chartData[chartData.length - 1];
				temp1 = lastRow[lastRow.length - 1];
				g2data.addRow([temp1]);              

				var options2 = {
				    redFrom: 88, redTo: 120,
				    yellowFrom:78, yellowTo: 120,
				    greenFrom:68, greenTo: 120,
				    minorTicks: 5
				};

			    var gauge = new google.visualization.Gauge(document.getElementById('gauge'));
			    gauge.draw(g2data, options2);
			    gaugeTime = new Date();
			    console.log('Gauge Drawn: '+gaugeTime);
	        }

	        //Draws the chart
	        function drawChart() {
				var gdata = new google.visualization.DataTable();
				gdata.addColumn('date', 'Date');
				gdata.addColumn('number', 'Temperature');
				gdata.addRows(chartData);

				var options = {
	            			title: 'Temperture Recorded',
	            			curveType: 'function',
	            			legend: { position: 'bottom' }
	        			};
	        			var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
	        			chart.draw(gdata, options);
	        			chartTime = new Date();
			}

		//draws scatter chart for pressure
		function drawPressureChart() {
			var sdata = new google.visualization.DataTable();
			sdata.addColumn('date','Date');
			sdata.addColumn('number','Pressure');
			sdata.addColumn(pressureData);

			var options = {
				title: 'Pressure Recorded over Time',
				curveType : 'function',
				legend: {position: 'bottom'}
				};
			var pchart = new google.visualization.LineChart(document.getElementById('curve_chart_pressure'));
        		pchart.draw(sdata, options);
        		chartTime = new Date();
		}


                //draws scatter chart for pressure
                function drawHumidityChart() {
			var hdata = new google.visualization.DataTable();
			hdata.addColumn('date','Date');
			hdata.addColumn('number','Humidity');
			hdata.addColumn(humidityData);

                        var options = {
                                title: 'Pressure Recorded over Time',
                                curveType: 'function',
                                legend: {position: 'bottom'}
	                };

			var huchart = new google.visualization.LineChart(document.getElementById('curve_chart_humid'));
		        huchart.draw(hdata, options);
			chartTime = new Date()
      }			

			
			var MidiPlayer = require('midi-player-js')
			var Player = new MidiPlayer.Player(function(event){
				console.log(event)
			});

			//outputs to GPIO pin covid-19 when button is pushed on webpage 
			function button(){ 

                         $.ajax({
                                type: "GET",
                                url: '/button',
                                async: 'asynchronous',
                                });
				Player.loadFile('TrashBeat.mid')
				Player.play()

                        }

		</script>


	
	</body>

</html>
